<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zyp.dbe.mapper.CourseMapper">

    <select id="getCourseList" resultType="com.zyp.dbe.pojo.Course">
        select * from databaseex.course
    </select>

    <select id="getCourseByCno" resultType="com.zyp.dbe.pojo.Course" parameterType="String">
        select * from databaseex.course where Cno = #{Cno}
    </select>

    <insert id="addCourse" parameterType="com.zyp.dbe.pojo.Course">
        insert into databaseex.course (Cno,Cname,Cpno,Ccredit) values (#{Cno},#{Cname},#{Cpno},#{Ccredit})
    </insert>

    <update id="updateCourse" parameterType="com.zyp.dbe.pojo.Course">
        update databaseex.course set Cname = #{Cname}, Cpno = #{Cpno}, Ccredit = #{Ccredit} where Cno = #{Cno}
    </update>

    <delete id="deleteCourse" parameterType="String">
        delete from databaseex.course where Cno = #{Cno}
    </delete>

</mapper>