<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zyp.dbe.mapper.GradesMapper">

    <select id="getGradesList" resultType="com.zyp.dbe.pojo.Grades">
        select * from databaseex.sc
    </select>

    <select id="getGradesBySno" resultType="com.zyp.dbe.pojo.Grades" parameterType="String">
        select * from databaseex.sc where Sno = #{Sno}
    </select>

    <select id="getCnoBySno" resultType="com.zyp.dbe.pojo.Grades" parameterType="String">
        select Cno from databaseex.sc where Sno = #{Sno}
    </select>

    <select id="getSnoByCno" resultType="com.zyp.dbe.pojo.Grades" parameterType="String">
        select Sno from databaseex.sc where Cno = #{Cno}
    </select>

    <select id="getGradesBySnoAndCno" resultType="com.zyp.dbe.pojo.Grades" parameterType="String">
        select Grade from databaseex.sc where Sno = #{Sno} And Cno = #{Cno}
    </select>

    <insert id="addGrades" parameterType="com.zyp.dbe.pojo.Grades">
        insert into databaseex.sc (Sno,Cno,Grade) values (#{Sno},#{Cno},#{Grade})
    </insert>

    <update id="updateGrades" parameterType="com.zyp.dbe.pojo.Grades">
        update databaseex.sc set Grade = #{Grade} where Sno = #{Sno} And Cno = #{Cno}
    </update>

    <delete id="deleteGrades" parameterType="String">
        delete from databaseex.sc where Sno = #{Sno} And Cno = #{Cno}
    </delete>

</mapper>